<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010821090386-rsfuetbqu4svo1smidbnr8b5ovdv8pfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010821090386-rsfuetbqu4svo1smidbnr8b5ovdv8pfg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1010821090386-2dt6r59tlrg0a1maok2jn3prbc124ncu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzAsRel2vPgC9pGMakvO3lwCT83yf7zkY</string>
	<key>GCM_SENDER_ID</key>
	<string>1010821090386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biruni.connect</string>
	<key>PROJECT_ID</key>
	<string>biruni-connect-a375b</string>
	<key>STORAGE_BUCKET</key>
	<string>biruni-connect-a375b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010821090386:ios:21f9b046377e96b1f5638b</string>
</dict>
</plist>